.footnote {
  text-align: center;
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 3.5vw;
}


.pad-vertically{
	padding-top: 5vh;
}

h1#title{
	font-size: 6vw;
}

h2#author{
	font-size: 4vw;
}