
body {
    height: 100vh;
    height: 100%;
    width: 100vw;
    background-image: url(https://raw.githubusercontent.com/marvindanig/clinical-applied-physiology/master/assets/images/figure-5.jpg
);
    background-size: 100% 100%;
    background-position: center center;
}