

body {
    height: 100vh;
    height: 100%;
    width: 100vw;
    background-image: url(https://raw.githubusercontent.com/marvindanig/clinical-applied-physiology/master/assets/images/figure-3.jpg);
    background-size: 200% 100%;
    background-position: left center;
}