body {
    height: 100vmax;
    height: 100dvmax;
    width: 100vmin;
    background-image: url(https://raw.githubusercontent.com/marvindanig/clinical-applied-physiology/master/assets/images/figure-3-new.jpg);
    background-size: 200% 100%;
    background-position: right center;
}